APP_NAME="FastAPI Starter Kit"
APP_URL=http://localhost:8000
CORS_ORIGINS='["*"]'

API_PREFIX="/api"
SECRET_KEY="generate-a-secure-random-secret-key-for-production"
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRATION=1440

DB_URL="postgresql+asyncpg://postgres:postgres@localhost:5432/fastapi_db"
